<ng-container *ngIf="article">
  <mat-card class="article-card">
    <mat-card-header>
      <mat-card-title>Title: {{ article.title }}</mat-card-title>
      <mat-card-subtitle>Author: {{ article.author.name }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Description: {{ article.description }}</p>
      <p>Likes: {{ article.likes?.length || 0 }}</p>
      <p>
        Topics:
        {{ topics.length > 0 ? topics.join(", ") : "No topics added yet." }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button [routerLink]="['/articles', article._id]">Read more</a>
    </mat-card-actions>
  </mat-card>
</ng-container>
