<ng-container *ngIf="article">
  <mat-card class="article-card">
    <mat-card-header>
      <mat-card-title>{{ article.title }}</mat-card-title>
      <mat-card-subtitle>By {{ article.author.name }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="article-metadata">
        <p class="metadata-item">Created on: {{ article.createdAt | date }}</p>
        <p class="metadata-item">
          Last edited on: {{ article.lastEdit | date }}
        </p>
        <p class="metadata-item">Likes: {{ article.usersLiked.length || 0 }}</p>
        <p class="metadata-item">Topics: {{ parsedTopics.join(", ") }}</p>
      </div>
      <p class="article-description">{{ article.description }}</p>
      <p class="article-content">{{ article.content }}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="!isAuthor">
      <a mat-button (click)="onLike()">Like</a>
    </mat-card-actions>
  </mat-card>
</ng-container>
