<select *ngIf="user" [(ngModel)]="selectedFilter" (ngModelChange)="filter()">
  <option value="all">Show all articles</option>
  <option value="topics">Filter by topic subscriptions</option>
</select>

<ng-container
  *ngIf="filteredArticles && filteredArticles.length > 0; else noArticles"
>
  <ng-container *ngFor="let article of filteredArticles">
    <app-article-card [article]="article"></app-article-card>
  </ng-container>
</ng-container>

<ng-template #noArticles>
  <p class="no-articles-message">No articles available yet. Be the first!</p>
</ng-template>
