<ng-container *ngIf="owner">
  <mat-card class="user-card">
    <mat-card-header>
      <mat-card-title>Name: {{ owner.name }}</mat-card-title>
      <mat-card-subtitle
        >Description: {{ owner.description }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-actions>
      <button
        *ngIf="userHasSubscribed == false && isAuthor == false && loggedInUser"
        mat-button
        color="primary"
        (click)="onSubscribe()"
      >
        Subscribe
      </button>
      <button mat-button color="accent" (click)="visitUserProfile()">
        Visit User Page
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
