<ng-container *ngIf="owner">
  <div class="user-profile">
    <div class="first-flex">
      <app-profile-user-card [user]="owner"></app-profile-user-card>
      <button
        mat-raised-button
        color="primary"
        (click)="onEdit()"
        *ngIf="isOwner"
      >
        Edit profile
      </button>
    </div>
    <div class="second-flex">
      <div class="user-expansions">
        <!--  -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Created Articles</mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container *ngFor="let articleId of owner.articlesCreated">
            <app-profile-article-card
              [articleId]="articleId"
            ></app-profile-article-card>
          </ng-container>
        </mat-expansion-panel>

        <ng-container *ngIf="isOwner">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Users Subscribed To</mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngFor="let userId of owner.subscribedTo">
              <app-subscribed-users-card
                [userId]="userId"
              ></app-subscribed-users-card>
            </ng-container>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Topics Subscribed To</mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngFor="let topicId of owner.topics">
              <app-subscribed-topics-card
                [topicId]="topicId"
              ></app-subscribed-topics-card>
            </ng-container>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Liked Articles</mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngFor="let articleId of owner.articlesLiked">
              <app-profile-article-card
                [articleId]="articleId"
              ></app-profile-article-card>
            </ng-container>
          </mat-expansion-panel>
          <!--  -->
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
