<ng-container *ngIf="user && article">
  <mat-card class="article-card" [routerLink]="['/articles', article._id]">
    <mat-card-content>
      <h2 class="article-title">{{ article.title }}</h2>
      <p class="article-description">{{ article.description }}</p>
      <div class="article-details">
        <p class="article-author">Author: {{ user.name }}</p>
        <p class="article-created">
          Created on: {{ article.createdAt | date }}
        </p>
        <p class="article-likes">Likes: {{ article.usersLiked.length || 0 }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
