<div class="form-container">
  <h2>{{ createOrEdit }} form</h2>
  <form [formGroup]="createArticleFormGroup" (ngSubmit)="onSubmit()">
    <div formGroupName="articleDataGroup">
      <mat-form-field>
        <mat-label>Article title</mat-label>
        <input matInput formControlName="title" />
        <mat-error
          *ngIf="
            createArticleFormGroup
              .get('articleDataGroup')
              ?.get('title')
              ?.hasError('required')
          "
        >
          Article title is required.
        </mat-error>
        <mat-error
          *ngIf="
            createArticleFormGroup
              .get('articleDataGroup')
              ?.get('title')
              ?.hasError('titleTaken')
          "
        >
          An article with this title already exists.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          formControlName="description"
          matTextareaAutosize
        ></textarea>
        <mat-error
          *ngIf="
            createArticleFormGroup
              .get('articleDataGroup')
              ?.get('description')
              ?.hasError('required')
          "
        >
          Article description is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Content</mat-label>
        <textarea
          matInput
          formControlName="content"
          matTextareaAutosize
        ></textarea>
        <mat-error
          *ngIf="
            createArticleFormGroup
              .get('articleDataGroup')
              ?.get('content')
              ?.hasError('required')
          "
        >
          Article content is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div formGroupName="topicsGroup">
      <mat-form-field>
        <mat-label>Topic keys</mat-label>
        <mat-chip-grid
          #chipGrid
          aria-label="Enter keywords"
          formControlName="topics"
        >
          <mat-chip-row
            *ngFor="let topic of topics"
            (removed)="removeTopic(topic)"
          >
            {{ topic }}
            <button matChipRemove aria-label="'remove ' + topic">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input
          placeholder="New topic..."
          [matChipInputFor]="chipGrid"
          (matChipInputTokenEnd)="add($event)"
          [matAutocomplete]="auto"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          #topicInput
        />
        <mat-error
          *ngIf="
            createArticleFormGroup
              .get('topicsGroup')
              ?.get('topics')
              ?.hasError('required')
          "
        >
          Article topics are required.
        </mat-error>
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="selected($event)"
        >
          <mat-option *ngFor="let option of options" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div>
      <button
        class="submit"
        mat-raised-button
        color="primary"
        type="submit"
        *ngIf="createOrEdit == 'Create'"
      >
        Create article
      </button>
      <button
        class="submit"
        mat-raised-button
        color="primary"
        type="submit"
        *ngIf="createOrEdit == 'Edit'"
      >
        Edit article
      </button>
    </div>
  </form>
</div>
