div.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 8px;
}

mat-form-field {
  width: 100%;
  margin-top: 20px;
}

mat-form-field input {
  font-size: 16px;
}

mat-form-field ::ng-deep .mat-form-field-flex {
  justify-content: center;
}

.submit {
  width: 100%;
  margin-top: 20px;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submit:hover {
  background-color: #0056b3;
}
