<div class="createArticle">
  <h2>{{ formTitle }} Article Form</h2>
  <form [formGroup]="createArticleFormGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" placeholder="Title" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        cdkTextareaAutosize
        cdkAutosizeMinRows="4"
        matInput
        formControlName="description"
        placeholder="Description"
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Content</mat-label>
      <textarea
        cdkTextareaAutosize
        cdkAutosizeMinRows="10"
        matInput
        formControlName="content"
        placeholder="Content"
      ></textarea>
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Topic keys</mat-label>
      <mat-chip-grid
        #chipGrid
        aria-label="Enter keywords"
        formControlName="topics"
      >
        <mat-chip-row
          *ngFor="let topic of topics"
          (removed)="removeTopic(topic)"
        >
          {{ topic }}
          <button matChipRemove aria-label="'remove ' + topic">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>
      <input
        placeholder="New topic..."
        [matChipInputFor]="chipGrid"
        (matChipInputTokenEnd)="add($event)"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary">
      Create Article
    </button>
  </form>
</div>
