<ng-container *ngIf="article">
  <mat-card class="article-card">
    <mat-card-header>
      <mat-card-title>{{ article.title }}</mat-card-title>
      <mat-card-subtitle>By {{ article.authorName }}</mat-card-subtitle>
      <mat-card-subtitle
        >Likes {{ article.usersLiked.length }}</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content>
      <div class="article-metadata">
        <p class="metadata-item">Created on: {{ article.createdAt | date }}</p>
        <p class="metadata-item">
          Last edited on: {{ article.lastEdit | date }}
        </p>
        <app-article-topics [topicIds]="article.topics"></app-article-topics>
      </div>
      <p class="article-description">Description: {{ article.description }}</p>
      <p class="article-content">Content: {{ article.content }}</p>
    </mat-card-content>

    <mat-card-actions *ngIf="isAuthor == false && loggedInUser">
      <a
        mat-raised-button
        *ngIf="hasLiked == false"
        class="mat-primary"
        (click)="onLike()"
        >Like</a
      >
      <span class="button-gap"></span>
      <a mat-raised-button class="mat-primary" (click)="onComment()">Comment</a>
    </mat-card-actions>

    <mat-card-actions *ngIf="isAuthor && loggedInUser">
      <a mat-raised-button class="mat-primary" (click)="onEdit()"
        >Edit article</a
      >
      <span class="button-gap"></span>
      <a mat-raised-button class="mat-primary" (click)="onDelete()"
        >Delete article</a
      >
    </mat-card-actions>

    <app-article-comments
      [commentIds]="article.comments"
      class="app-article-comments"
    ></app-article-comments>
  </mat-card>
</ng-container>
