<ng-container *ngIf="article">
  <mat-card class="article-card">
    <mat-card-header>
      <mat-card-title>{{ article.title }}</mat-card-title>
      <mat-card-subtitle>By {{ article.authorName }}</mat-card-subtitle>
      <mat-card-subtitle
        >Likes {{ article.usersLiked.length }}</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content>
      <div class="article-metadata">
        <p class="metadata-item">Created on: {{ article.createdAt | date }}</p>
        <p class="metadata-item">
          Last edited on: {{ article.lastEdit | date }}
        </p>
        <app-article-topics [topicIds]="article.topics"></app-article-topics>
      </div>
      <p class="article-description">Description: {{ article.description }}</p>
      <p class="article-content">Content: {{ article.content }}</p>
    </mat-card-content>

    <mat-card-actions *ngIf="!isAuthor && loggedInUser">
      <a mat-button *ngIf="!hasLiked" (click)="onLike()">Like</a>
      <a mat-button (click)="onComment()">Comment</a>
    </mat-card-actions>

    <app-article-comments
      [commentIds]="article.comments"
    ></app-article-comments>

    <mat-card-actions *ngIf="isAuthor && loggedInUser">
      <a mat-button (click)="onEdit()" *ngIf="isAuthor">Edit article</a>
      <a mat-button (click)="onDelete()">Delete article</a>
    </mat-card-actions>
  </mat-card>
</ng-container>
