.user-profile {
  display: flex;
  height: 100vh; /* Take full viewport height */
}

.flex-container {
  display: flex;
  flex-direction: column; /* Stack flex items vertically */
  flex: 1; /* Take full vertical space */
}

.first-flex,
.second-flex {
  flex-grow: 1; /* Take full vertical space within the container */
  padding: 10px; /* Adjust as needed */
}
