<select
  [(ngModel)]="selectedFilter"
  (ngModelChange)="toggleFilter()"
  *ngIf="userId"
>
  <option value="all">Show All Articles</option>
  <option value="topics">Filter by Topics</option>
</select>

<ng-container *ngIf="articles && articles.length > 0; else noArticles">
  <ng-container *ngFor="let article of articles">
    <app-article-card [articleId]="article._id"></app-article-card>
  </ng-container>
</ng-container>

<ng-template #noArticles>
  <p class="no-articles-message">No articles available yet. Be the first!</p>
</ng-template>
