<h3>Linear Vertical Stepper Demo using a single form</h3>
<form [formGroup]="formGroup">
  <mat-vertical-stepper
    #linearVerticalStepper="matVerticalStepper"
    formArrayName="formArray"
    [linear]="false"
  >
    <!-- value won't be null or undefined;  -->
    <mat-step formGroupName="0" [stepControl]="formArray?.get([0])!">
      <ng-template matStepLabel
        >Fill out your name and email address</ng-template
      >
      <mat-form-field>
        <mat-label>Full name</mat-label>
        <input matInput formControlName="fullName" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step formGroupName="1" [stepControl]="formArray?.get([1])!">
      <ng-template matStepLabel>
        <div>Enter your password</div>
      </ng-template>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Repeat password</mat-label>
        <input matInput formControlName="repass" />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step formGroupName="2" [stepControl]="formArray?.get([2])!">
      <ng-template matStepLabel>
        <div>Please enter your topics of interest (optional)</div>
      </ng-template>
      <mat-form-field>
        <mat-label>Please select your topics of interest (optional)</mat-label>
        <input matInput formControlName="topics" />
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Confirm your information</ng-template>
      Everything seems correct.
      <div>
        <button
          type="button"
          mat-button
          (click)="linearVerticalStepper.reset()"
        >
          Reset
        </button>
        <button mat-button (click)="onSubmit()">Done</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</form>
