<div class="form-container">
  <form [formGroup]="formGroup">
    <mat-vertical-stepper
      #linearVerticalStepper="matVerticalStepper"
      formArrayName="formArray"
      [linear]="false"
    >
      <mat-step formGroupName="0" [stepControl]="formArray?.get([0])!">
        <ng-template matStepLabel
          >Fill out your name and email address</ng-template
        >
        <mat-form-field>
          <mat-label>Full name</mat-label>
          <input matInput formControlName="fullName" required />
          <mat-error *ngIf="formArray?.get([0])?.get('fullName')?.invalid">
            Full name is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required />
          <mat-error
            *ngIf="formArray?.get([0])?.get('email')?.hasError('required')"
          >
            Email is required.
          </mat-error>
          <mat-error
            *ngIf="formArray?.get([0])?.get('email')?.hasError('email')"
          >
            Invalid email format.
          </mat-error>
        </mat-form-field>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step formGroupName="1" [stepControl]="formArray?.get([1])!">
        <ng-template matStepLabel>
          <div>Enter your password</div>
        </ng-template>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Repeat password</mat-label>
          <input matInput formControlName="repass" />
          <mat-error *ngIf="formArray?.get([1])?.hasError('passwordMismatch')">
            Passwords do not match.
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step formGroupName="2" [stepControl]="formArray?.get([2])!">
        <ng-template matStepLabel>
          <div>Please enter your topics of interest (optional)</div>
        </ng-template>
        <mat-form-field class="example-form-field">
          <mat-label>Topic keys</mat-label>
          <mat-chip-grid
            #chipGrid
            aria-label="Enter keywords"
            formControlName="topics"
          >
            <mat-chip-row
              *ngFor="let topic of topics"
              (removed)="removeTopic(topic)"
            >
              {{ topic }}
              <button matChipRemove aria-label="'remove ' + topic">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
          <input
            placeholder="New topic..."
            [matChipInputFor]="chipGrid"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Confirm your information</ng-template>
        Everything seems correct.
        <div>
          <button
            type="button"
            mat-button
            (click)="linearVerticalStepper.reset()"
          >
            Reset
          </button>
          <button mat-button (click)="onSubmit()">Done</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</div>
