<!-- if check, because we pass from outside -->
<ng-container *ngIf="article">
  <mat-card class="article-card">
    <mat-card-header>
      <mat-card-title>Title: {{ article.title }}</mat-card-title>
      <mat-card-subtitle>Author: {{ article.author.name }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Description: {{ article.description }}</p>
      <!-- cant create an article w/o topics. no need for if check here. -->
      <p>
        Topics:
        <ng-container *ngFor="let topic of parsedTopics; let last = last">
          <!-- ng for last; directive that conditionally formats the last element of an array differently -->
          {{ topic }}{{ last ? "" : ", " }}
        </ng-container>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button [routerLink]="['/articles', article._id]">Read more</a>
    </mat-card-actions>
  </mat-card>
</ng-container>
