<ng-container *ngIf="user">
  <mat-card class="user-card">
    <mat-card-header>
      <mat-card-title>Name: {{ user.name }}</mat-card-title>
      <mat-card-subtitle>Description: {{ user.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button
        *ngIf="!userHasSubscribed && !isAuthor && isAuth"
        mat-button
        color="primary"
        (click)="subscribeToUser(user._id)"
      >
        Subscribe
      </button>
      <button mat-button color="accent" (click)="visitUserProfile(user._id)">
        Visit User Page
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
